{% extends 'base.html.twig' %}

{% block title %}Produtos{% endblock %}

{% block body %}
    <div class="container my-5">
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <h1 class="text-center mb-4">Produtos</h1>

                <div class="d-flex justify-content-between align-items-center mb-3">
                    <span>Total: {{ products|length }}</span>
                    <a href="{{ path('app_product_new') }}" class="btn btn-outline-success">Adicionar novo produto</a>
                </div>

                <div class="table-responsive">
                    <table class="table table-hover table-bordered align-middle">
                        <thead class="table-dark">
                        <tr>
                            <th scope="col">Categoria</th>
                            <th scope="col">Nome</th>
                            <th scope="col">Preço</th>
                            <th scope="col" class="text-center">Ações</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for product in products %}
                            <tr>
                                <td>{{ product.category }}</td>
                                <td>{{ product.name }}</td>
                                <td>R$ {{ product.price|number_format(2, ',', '.') }}</td>
                                <td class="text-center">
                                    <a href="{{ path('app_product_show', {'id': product.id}) }}"
                                       class="btn btn-outline-info btn-sm me-2">Mostrar</a>
                                    <a href="{{ path('app_product_edit', {'id': product.id}) }}"
                                       class="btn btn-outline-warning btn-sm">Editar</a>
                                </td>
                            </tr>
                        {% else %}
                            <tr>
                                <td colspan="5" class="text-center">Nenhum registro encontrado</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
