{% block stylesheets %}
    <style>
        .navbar-custom {
            background-color: #003366; /* cor de fundo: azul escuro */
        }

        .navbar-custom .navbar-brand, 
        .navbar-custom .nav-link {
            color: white; /* Cor das letras: branca */
            padding: 0 15px; /* espaçamento horizontal entre os links */
            transition: color 0.2s ease;
        }

        .navbar-custom .nav-link.active {
            font-weight: bold;
            color: #007bff
        }

        .navbar-custom .nav-link:hover {
            color: #cccccc; /* Cor de hover: cinza claro */
            text-shadow: 0 0 1px rgba(255, 255, 255, 0.75);
        }

        .navbar-custom .dropdown-menu {
            background-color: #003366; /* azul escuro no dropdown */
        }

        .navbar-custom .dropdown-menu a {
            color: white;
        }

        .navbar-custom .dropdown-menu a:hover {
            background-color: #004080;
        }

        .navbar-custom .navbar-toggler {
            border-color: white;
        }
    </style>
{% endblock %}

<nav class="navbar navbar-expand-lg navbar-custom">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">Home</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                {% for route in routes %}
                    {% if is_granted(route.access) %}
                        <li class="nav-item">
                            <a class="nav-link {% if app.request.get('_route') == route.name %}active{% endif %}"
                               href="{{ path(route.name) }}">{{ route.title }}</a>
                        </li>
                    {% endif %}
                {% endfor %}
            </ul>
            <ul class="navbar-nav ml-auto">
                {% if app.user %}
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                           data-bs-toggle="dropdown" aria-expanded="false">
                            {{ app.user ? app.user.username : 'Usuário' }}
                        </a>
                        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                            {#                        <li><a class="dropdown-item" href="{{ path('profile') }}">Perfil</a></li> #}
                            <li><a class="dropdown-item" href="{{ path('app_logout') }}">Sair</a></li>
                        </ul>
                    </li>
                {% else %}
                    <a class="nav-link" href="{{ path('app_register') }}">Registrar</a>
                    <a class="nav-link" href="{{ path('app_login') }}">Login</a>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>