{% block stylesheets %}
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            transition: margin-left 0.3s;
        }

        .navbar-custom {
            background-color: #003366;
            position: fixed;
            width: 100%;
            z-index: 1000;
        }

        .navbar-custom .navbar-brand,
        .navbar-custom .nav-link {
            color: #ffff;
            padding: 0 15px;
            transition: color 0.2s ease;
        }

        .navbar-custom .nav-link.active {
            font-weight: bold;
            color: #007bff;
        }

        .navbar-custom .nav-link:hover {
            color: #cccccc;
            text-shadow: 0 0 1px rgba(255, 255, 255, 0.75);
        }

        .navbar-custom .navbar-collapse {
            display: flex;
            justify-content: space-between; /* Alinha os itens */
            align-items: center; /* Centraliza verticalmente */
        }

        .navbar-custom .navbar-nav {
            display: flex;
            justify-content: flex-end;
            flex-grow: 1; /* Permite que a nav ocupe o espaço disponível */

        }

        .navbar-custom .nav-item {
            margin: 0; /* Remove as margens */
            font-family: Georgia;
            font-size: 20px;
        }

        .navbar-custom .logout {
            margin-left: auto; /* Empurra para a direita */
        }

        .navbar-custom .dropdown-menu {
            background-color: #003366;
        }

        .navbar-custom .dropdown-menu a {
            color: #ffff;
        }

        .navbar-custom .dropdown-menu a:hover {
            background-color: #004080;
        }

        .navbar-custom .navbar-toggler {
            border-color: #ffff;
        }
        .navbar-custom .navbar-collapse {
            display: flex;
            justify-content: center;
        }

        .sidebar {
            height: 100%;
            width: 250px;
            position: fixed;
            top: 0;
            left: -250px;
            background-color: #003366;
            overflow-x: hidden;
            transition: left 0.3s;
            padding-top: 60px;
            z-index: 999;
        }

        .sidebar a {
            padding: 15px 20px;
            text-decoration: none;
            font-size: 16px;
            color: #fff;
            display: block;
            transition: 0.3s;
        }

        .sidebar a:hover {
            background-color: #004080;
        }

        .main-content {
            margin-left: 0;
            transition: margin-left 0.3s;
            padding: 16px;
        }

        .open-btn {
            font-size: 20px;
            cursor: pointer;
            background-color: #003366;
            color: white;
            border: none;
            position: absolute;
            left: 15px;
            z-index: 1001;
        }

        .search-input {
            width: 200px;
            margin-left: 15px;
        }
        img{
            width: 32px;
            height: 32px;
        }
    </style>
{% endblock %}

<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-custom">
    <div class="container-fluid">
        <button class="open-btn" onclick="toggleSidebar()">&#9776;</button>
        <a class="navbar-brand" href="/">
            <i class="bi bi-house-fill"></i>
        </a>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link">VAT SISTEMAS <img src="{{ asset('images/logo_branca.png') }}"></a>
                </li>
            </ul>
            <ul class="navbar-nav logout"> <!-- Adicionando a classe logout -->
                {% if app.user %}
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                           data-bs-toggle="dropdown" aria-expanded="false">
                            {{ app.user ? app.user.username : 'Usuário' }}
                        </a>
                        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="{{ path('app_logout') }}">Sair</a></li>
                        </ul>
                    </li>
                {% else %}
                    <a class="nav-link" href="{{ path('app_register') }}">Registrar</a>
                    <a class="nav-link" href="{{ path('app_login') }}">Login</a>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>
<!-- Menu lateral -->
<div id="mySidebar" class="sidebar">
    <input type="text" id="searchInput" class="form-control search-input mt-2" placeholder="Pesquisar..."
           onkeyup="filterMenu()">

    <div class="mt-4"></div>

    {% for route in routes %}
        {% if is_granted(route.access) %}
            <a href="{{ path(route.name) }}" class="menu-item" data-title="{{ route.title }}">
                <i class="{{ route.icon_name }}"></i> <span style="margin-left: 20px">{{ route.title }}</span>
            </a>
        {% endif %}
    {% endfor %}
    {% if app.user %}
        <a href="{{ path('app_logout') }}">
            <i class="bi bi-box-arrow-right"></i>
            <span style="margin-left: 20px;">Sair</span>
        </a>
    {% else %}
        <a href="{{ path('app_register') }}">
            <i class="bi bi-person-plus"></i>
            <span style="margin-left: 20px;">Registrar</span>
        </a>
        <a href="{{ path('app_login') }}">
            <i class="bi bi-box-arrow-in-right"></i>
            <span style="margin-left: 20px;">Login</span>
        </a>
    {% endif %}
</div>

<!-- Conteúdo principal -->
<div id="main" class="main-content">
</div>

<script>
    function toggleSidebar() {
        var sidebar = document.getElementById("mySidebar");
        var mainContent = document.getElementById("main");

        if (sidebar.style.left === "-250px") {
            sidebar.style.left = "0";
            mainContent.style.marginLeft = "250px";
        } else {
            sidebar.style.left = "-250px";
            mainContent.style.marginLeft = "0";
        }
    }

    function filterMenu() {
        const input = document.getElementById('searchInput');
        const filter = input.value.toLowerCase();
        const items = document.querySelectorAll('.sidebar .menu-item');

        items.forEach(item => {
            const title = item.getAttribute('data-title').toLowerCase();
            if (title.includes(filter)) {
                item.style.display = "";
            } else {
                item.style.display = "none";
            }
        });
    }
</script>
