{% block stylesheets %}
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            transition: margin-left 0.3s; /* Efeito de transição suave para o corpo */
        }

        .navbar-custom {
            background-color: #003366;
            position: fixed; /* Fixo no topo */
            width: 100%;
            z-index: 1000; /* Para garantir que a navbar fique acima de outros elementos */
        }

        .navbar-custom .navbar-brand,
        .navbar-custom .nav-link {
            color: #ffff;
            padding: 0 15px;
            transition: color 0.2s ease;
        }

        .navbar-custom .nav-link.active {
            font-weight: bold;
            color: #007bff;
        }

        .navbar-custom .nav-link:hover {
            color: #cccccc;
            text-shadow: 0 0 1px rgba(255, 255, 255, 0.75);
        }

        .navbar-custom .dropdown-menu {
            background-color: #003366;
        }

        .navbar-custom .dropdown-menu a {
            color: #ffff;
        }

        .navbar-custom .dropdown-menu a:hover {
            background-color: #004080;
        }

        .navbar-custom .navbar-toggler {
            border-color: #ffff;
        }

        .sidebar {
            height: 100%;
            width: 250px; /* Largura do menu lateral */
            position: fixed;
            top: 0;
            left: -250px; /* Inicialmente escondido */
            background-color: #003366;
            overflow-x: hidden; /* Esconde o overflow horizontal */
            transition: left 0.3s; /* Efeito de transição suave */
            padding-top: 60px; /* Espaço no topo */
            z-index: 999; /* Fica abaixo da navbar */
        }

        .sidebar a {
            padding: 15px 20px;
            text-decoration: none;
            font-size: 16px;
            color: #fff;
            display: flex; /* Flex para alinhar o ícone e texto */
            align-items: center; /* Centraliza verticalmente */
            transition: 0.3s; /* Efeito de transição suave */
        }

        .sidebar a:hover {
            background-color: #004080; /* Cor ao passar o mouse */
        }

        .sidebar i { /* Estilo para os ícones */
            margin-right: 10px; /* Espaço entre o ícone e o texto */
        }

        .main-content {
            margin-left: 0;
            transition: margin-left 0.3s; /* Efeito de transição suave */
            padding: 16px; /* Padding do conteúdo principal */
        }

        .open-btn {
            font-size: 20px;
            cursor: pointer;
            background-color: #003366;
            color: white;
            border: none;
            position: absolute; /* Fixo na navbar */
            left: 15px; /* Espaçamento à esquerda */
            z-index: 1001; /* Fica acima do menu lateral */
        }
    </style>
{% endblock %}

<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-custom">
    <div class="container-fluid">
        <button class="open-btn" onclick="toggleSidebar()">&#9776;</button> <!-- Botão para abrir o menu -->
        <a class="navbar-brand" href="/">
            <i class="bi bi-house-fill"></i>
        </a>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link"></a>
                </li>
            </ul>
            <ul class="navbar-nav ml-auto">
                {% if app.user %}
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                           data-bs-toggle="dropdown" aria-expanded="false">
                            {{ app.user ? app.user.username : 'Usuário' }}
                        </a>
                        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="{{ path('app_logout') }}">Sair</a></li>
                        </ul>
                    </li>
                {% else %}
                    <a class="nav-link" href="{{ path('app_register') }}">Registrar</a>
                    <a class="nav-link" href="{{ path('app_login') }}">Login</a>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>

<!-- Menu lateral -->
<div id="mySidebar" class="sidebar">
    <a href="/">
        <i class="bi bi-house"></i> Menu Inicial
    </a>
    {% for route in routes %}
        {% if is_granted(route.access) %}
            <a href="{{ path(route.name) }}">
                <i class="{{ route.icon_name }}"></i> {{ route.title }}
            </a>
        {% endif %}
    {% endfor %}
    {% if app.user %}
        <a href="{{ path('app_logout') }}">
            <i class="bi bi-box-arrow-right"></i> Sair
        </a>
    {% else %}
        <a href="{{ path('app_register') }}">
            <i class="bi bi-person-plus"></i> Registrar
        </a>
        <a href="{{ path('app_login') }}">
            <i class="bi bi-person-circle"></i> Login
        </a>
    {% endif %}
</div>

<!-- Conteúdo principal -->
<div id="main" class="main-content">
</div>

<script>
    function toggleSidebar() {
        var sidebar = document.getElementById("mySidebar");
        var mainContent = document.getElementById("main");

        if (sidebar.style.left === "-250px") {
            sidebar.style.left = "0"; // Mostra o menu
            mainContent.style.marginLeft = "250px"; // Adiciona espaço ao conteúdo
        } else {
            sidebar.style.left = "-250px"; // Esconde o menu
            mainContent.style.marginLeft = "0"; // Remove espaço do conteúdo
        }
    }
</script>
