<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">Home</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                {% for route in routes %}
                    {% if is_granted(route.access) %}
                        <li class="nav-item">
                            <a class="nav-link {% if app.request.get('_route') == route.name %}active{% endif %}"
                               href="{{ path(route.name) }}">{{ route.title }}</a>
                        </li>
                    {% endif %}
                {% endfor %}
            </ul>
            <ul class="navbar-nav ml-auto">
                {% if app.user %}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                       data-bs-toggle="dropdown" aria-expanded="false">
                        {{ app.user ? app.user.username : 'Usuário' }}
                    </a>
                    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                        {#                        <li><a class="dropdown-item" href="{{ path('profile') }}">Perfil</a></li> #}
                        <li><a class="dropdown-item" href="{{ path('app_logout') }}">Sair</a></li>
                    </ul>
                </li>
                {% endif %}
                <a class="nav-link" href="{{ path('app_register') }}">Registrar</a>
                <a class="nav-link" href="{{ path('app_login') }}">Login</a>
            </ul>
        </div>
    </div>
</nav>
