{% extends 'base.html.twig' %}

{% block title %}Detalhes do pedido{% endblock %}

{% block body %}
    <div class="container my-5">
        <div class="row justify-content-center">
            <div class="col-lg-6">
                <h1 class="text-center mb-4">Detalhes do pedido</h1>

                <table class="table table-bordered">
                    <tbody>
                    <tr>
                        <th scope="row">Código</th>
                        <td>{{ order.id }}</td>
                    </tr>
                    <tr>
                        <th scope="row">Mesa</th>
                        <td>{{ order.tableOrder.occupiedTable.number }}</td>
                    </tr>
                    <tr>
                        <th scope="row">Produto</th>
                        <td>{{ order.product.name }}</td>
                    </tr>
                    <tr>
                        <th scope="row">Quantidade</th>
                        <td>{{ order.quantity }}</td>
                    </tr>
                    <tr>
                        <th scope="row">Valor unitário</th>
                        <td>R$ {{ order.unitValue|number_format(2, ',', '.') }}</td>
                    </tr>
                    <tr>
                        <th scope="row">Subtotal</th>
                        <td>R$ {{ order.subtotal|number_format(2, ',', '.') }}</td>
                    </tr>
                    </tbody>
                </table>

                <div class="d-flex justify-content-between mt-4">
                    <a href="{{ path('app_order_index') }}" class="btn btn-outline-secondary">Voltar à lista</a>
                    {% if is_granted('ROLE_WAITER') %}
                        <a href="{{ path('app_order_edit', {'id': order.id}) }}"
                           class="btn btn-outline-warning">Editar</a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
