{% extends 'base.html.twig' %}

{% block title %}Relatórios{% endblock %}

{% block body %}
    <div class="container mt-5">
        <h1 class="mb-4">Relatório de Vendas</h1>

        <div class="mb-4">
            <h2>Total de comandas atendidas: {{ totalOrders }}</h2>
            <h2>Total de vendas de produtos: {{ totalSales }}</h2>
            <h2>Receita total: R$ {{ totalRevenue|number_format(2, ',', '.') }}</h2>
        </div>

        <h3>Produtos Mais Vendidos</h3>
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Nome do Produto</th>
                <th>Quantidade Vendida</th>
            </tr>
            </thead>
            <tbody>
            {% for product in topProducts %}
                <tr>
                    <td>{{ product.name }}</td>
                    <td>{{ product.totalQuantity }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <h3>Categorias mas vendidas</h3>

        <table class="table table-striped">
            <thead>
            <tr>
                <th>Categoria</th>
                <th>Quantidade Vendida</th>
            </tr>
            </thead>
            <tbody>
            {% for category in topCategories %}
                <tr>
                    <td>{{ category.category }}</td>
                    <td>{{ category.totalQuantity }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

    </div>

    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
{% endblock %}
